<h1> Here is <%= @cat.name %> </h1>

<table border = "1">
  <tr>
    <th>Color</th>
    <th>Sex</th>
    <th>Birth Date</th>
    <th>Age</th>
    <th>Description</th>
  </tr>

  <tr>
    <td> <%= @cat.color %></td>
    <td> <%= @cat.sex %></td>
    <td> <%= @cat.birth_date %></td>
    <td> <%= @cat.age %></td>
    <td> <%= @cat.description %></td>
  </tr>
</table>
